PORT=5000
CLIENT_DOMAIN=http://localhost:3000
# OPENAI_API_KEY=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
OPENAI_API_KEY=sk-8tYX5gYZVsRVuljYpZX5fQwiCIiBigOPcRtsAlu4EiT3BlbkFJZ4t6gK5kaZ9o6HdNCaPZQCGDK7X93vtzO6GiL3gokA
